.pokemon__card {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border-radius: 1em;
  color: white;
  height: fit-content;
}
.pokemon__card img {
  animation: opacityEffect 0.3s linear;
}
.pokemon__card_footer {
  bottom: 0;
  backdrop-filter: saturate(180%) blur(10px);
  background: #2c3e5054;
  border-end-end-radius: 1em;
  border-end-start-radius: 1em;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.pokemon__card-f-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
}
.pokemon__card-f-info button {
  background-color: inherit;
  color: rgb(187, 187, 187);
  border: none;
}
.pokemon__card-f-info h5 {
  text-transform: capitalize;
}
.pokemon__id {
  background-color: red;
  padding: 0.3em;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  top: 8px;
  z-index: 10;
}
.pokemon__card_img-container img {
  filter: drop-shadow(0px 1px 2px rgb(255, 255, 255));
}
