button {
    cursor: pointer;
}
.home__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em;
  background-color: #dfe6e9;
  justify-content: space-around;
  animation: opacityEffect 0.3s linear;
}
.home__left_container,
.home__right_container {
  border-radius: 1em;
  background-color: white;
  box-shadow: 1px 1px 5px 0px black;
}
.home__left_container {
  width: 45%;
}
.home__right_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
  color: white;
  background-color: #34495e;
  padding: 1em;
}
.home__right_container ul {
  min-width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.home__right_container input {
    margin-top: 0.7em;
    width: 80%;
    background-color: lighten($color: #34495e, $amount: 10);
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    color: white;
    position: sticky;
    top: 15px;
    z-index: 100;
    &::placeholder {
        color: rgba(255, 255, 255, 0.39);
    }
    &:focus {
        outline: 1px solid gray;
    }
}
